
    
    <div class="card text-center" style="padding: 20px; color: rgb(56, 153, 27);">
        <h1>User Dashboard</h1>
        
<!-- <button type="button" class="btn btn-success mb-5" data-bs-toggle="modal" data-bs-target="#staticbackdrop"
(click)="AddEntry()">
add new entry
</button> -->


<!-- <app-search (searchTextChanged)="onInputSearch($event)"></app-search> -->
&nbsp;

<table class="table table-striped">
<thead>
  <th *ngFor="let column of columns">{{column}}</th>
</thead>
<tbody>  
  <tr>
    <td style="width: 30px;">
      <img [src]="users.image" style="margin-left:-190px; padding-bottom: 10px; height: 100px; width: 100px;">
    </td> <!--<input type="file" (change)="onChangeImage($event)"> -->
    <td>{{users.firstName}}</td>
    <td>{{users.lastName}}</td>
    <td>{{users.email}}</td>
    <td *ngIf="users.status == 'Active'" style="color: green;">{{users.status}}</td>
    <td *ngIf="users.status != 'Active'" style="color: red;">{{users.status}}</td>
  </tr>
</tbody>
</table>