
    
    <div class="card text-center" style="padding: 20px; color: rgb(56, 153, 27);">
        <h1>User Dashboard</h1>
        
<!-- <button type="button" class="btn btn-success mb-5" data-bs-toggle="modal" data-bs-target="#staticbackdrop"
(click)="AddEntry()">
add new entry
</button> -->


<!-- <app-search (searchTextChanged)="onInputSearch($event)"></app-search> -->
&nbsp;

<table class="table table-striped">
<thead>
  <th *ngFor="let column of columns">{{column}}</th>
  <th></th>
</thead>
<tbody>  
  <tr>
    <td><img [src]="createImagePath(users.imagePath)" alt="profile picture" 
      style="width: 60px; height: 60px;"></td>
    <td>{{users.firstName}}</td>
    <td>{{users.lastName}}</td>
    <td>{{users.email}}</td>
    <td *ngIf="users.status == 'Active'" style="color: green;">{{users.status}}</td>
    <td *ngIf="users.status != 'Active'" style="color: red;">{{users.status}}</td>
    <td></td>
  </tr>
</tbody>
</table>